+hdng/+fractals/+tests/*.eps
+hdng/+rasters/+tests/output/*.png
+hdng/commit/*
+geospm/commit/*
+geospm/+geotiffpatch/+patched/*
+geospm/+volumes/+tests/*
**/.DS_Store
in\ progress/*
mapping_services/**
